<?xml version="1.0"  encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				        http://www.springframework.org/schema/context 
				        http://www.springframework.org/schema/context/spring-context.xsd
				        http://www.springframework.org/schema/mvc
				        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
       
	<!-- SpringMVC配置 -->
	<!-- 通过component-scan让Spring扫描com.jq.survey.web下的所有的类，让Spring的代码注解生效 -->
	<context:component-scan base-package="com.jq.survey.web"></context:component-scan>
	
	  
	<!-- 如果当前路径是/index 则交给相应的视图解析器直接解析为视图 -->
	<mvc:view-controller path="/index" view-name="index" />
	<!-- 访问静态资源  匹配/static/**的URL被当做静态资源,由Spring读出到内存中再响应http --> 
	<!-- cache-period可以使得静态资源进行web cache 强制每次请求直接发送给源服务器，
		  而不经过本地缓存版本的校验。这对于需要确认认证应用很有用(可以和public结合使用),
		  或者严格要求使用最新数据的应用（不惜牺牲使用缓存的所有好处）-->
	<mvc:resources mapping="/static/**" location="/static/" cache-period="31556926"/>
	
	<!-- 默认的注解映射的支持 
	<mvc:annotation-driven />-->
	<!-- 处理在类级别上的@RequestMapping注解 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
		<property name="interceptors">
			<list>
				<!-- 多个拦截器顺序执行 -->
				<bean class="com.jq.survey.web.interceptor.LoginInterceptor"></bean>
				<bean class="com.jq.survey.web.interceptor.AuthInterceptor"></bean>
			</list>
		</property>
	</bean>
	<!-- 完成请求和注解POJO的映射 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">  
	    <property name="messageConverters">    
	        <list>    
	            <ref bean="byteArray_hmc" />    
	            <ref bean="string_hmc" />    
	            <ref bean="resource_hmc" />    
	            <ref bean="source_hmc" />    
	            <ref bean="xmlAwareForm_hmc" />    
	            <ref bean="jaxb2RootElement_hmc" />    
	            <ref bean="jackson_hmc" />
	        </list>    
	    </property>    
	</bean>
	<bean id="byteArray_hmc" class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
	<bean id="string_hmc" class="org.springframework.http.converter.StringHttpMessageConverter" />
	<bean id="resource_hmc" class="org.springframework.http.converter.ResourceHttpMessageConverter" />
	<bean id="source_hmc" class="org.springframework.http.converter.xml.SourceHttpMessageConverter" />
	<bean id="xmlAwareForm_hmc" class="org.springframework.http.converter.xml.XmlAwareFormHttpMessageConverter" />  
	<bean id="jaxb2RootElement_hmc" class="org.springframework.http.converter.xml.Jaxb2RootElementHttpMessageConverter" />  
	<bean id="jackson_hmc" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />
	
	<!-- InternalResourceViewResolver 国际化视图解析器  这里用来作为jsp视图解析器-->
	<!-- 配置SpringMVC的视图渲染器， 让其前缀为:/WEB-INF/view/ 后缀为.jsp 将视图渲染到/page/<method返回值>.jsp中 -->
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
		<property name="contentType" value="text/html;charset=UTF-8" />  
		<property name="order" value="2" />
	</bean>
	
	<!-- FreeMarkerViewResolver FreeMarker视图解析器 -->
	<bean id="freeMarkerViewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="prefix" value="/" />
		<property name="suffix" value=".ftl" />
		<!-- 给视图解析器配置优先级，你可以给jsp视图解析器的值配为2 -->
    	<property name="order" value="1" />
		<property name="contentType" value="text/html;charset=UTF-8" />
		<property name="exposeSpringMacroHelpers" value="true" />
		<property name="exposeRequestAttributes" value="true" />
		<property name="exposeSessionAttributes" value="true" />
		<property name="requestContextAttribute" value="rc" />
	</bean>
	<!-- 配置freemarker模板加载地址 -->
	<bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<!-- 视图解析器在/路径下进行扫描 -->
		<property name="templateLoaderPath" value="/" />
		<property name="freemarkerVariables">
			<map>
				<entry key="xml_escape" value-ref="fmXmlEscape" />
			</map>
		</property>
	</bean>
	<!-- 配置Freemarker属性文件路径 -->
	<bean id="freemarkerConfiguration" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
	    <property name="location" value="/WEB-INF/freemarker.properties" />
	</bean>
	<bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape" />
	
	<!-- 为了避免服务器压力, 控制上传文件大小 在2M(2097152KB)之内 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="2097152" />
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
	
	<!-- 总错误处理 -->
	<bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<!-- 默认错误页面，当找不到上面mappings中指定的异常对应视图时，使用本默认配置 -->
		<property name="defaultErrorView" value="/error/500/500"></property>
		<!-- 默认HTTP状态码 -->
		<property name="defaultStatusCode" value="500"></property>
		<!-- 设置日志输出级别，不定义则默认不输出警告等错误日志信息 -->
		<property name="warnLogCategory" value="WARN"></property>
	</bean>
	
	<!-- 提供了消息处理的功能 
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="ApplicationResource" />
	</bean>
	-->
	
</beans>
